1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [3]:
test1='This is a test of the emergency text system,'
file=open('test.txt','w')
file.write(test1)

44

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [4]:
file2 = open('test.txt','r')
test2 = file2.readline()
test2

'This is a test of the emergency text system,'

In [7]:
if test1==test2:
    print('both are the same')

both are the same


3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [13]:
import csv
file = [['title,author,year','The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992']]
with open('books.csv','w',newline = '') as fp:
    writer = csv.writer(fp)
    writer.writerows(file)

In [14]:
file

[['title,author,year',
  'The Weirdstone of Brisingamen,Alan Garner,1960 Perdido Street Station,China Miéville,2000 Thud!,Terry Pratchett,2005 The Spellman Files,Lisa Lutz,2007 Small Gods,Terry Pratchett,1992']]

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [16]:
import sqlite3
con=sqlite3.connect('book.db')
curs=con.cursor()
con.execute('create table books(title varchar(20),author varchar(20), year int)')
con.commit()

5. Read books.csv and insert its data into the book table.

In [27]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', con, if_exists='append', index = False)

0

6. Select and print the title column from the book table in alphabetical order.

In [29]:

con.execute('select title from books order by title asc')
print(con.fetchall())

AttributeError: 'sqlite3.Connection' object has no attribute 'fetchall'




7. From the book table, select and print all columns in the order of publication.
8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.
9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.
10. Increment the count field of test and print it.

In [25]:

con.execute('select title, author,year from books order by year')


df = pd.DataFrame(con.fetchall(), columns=['title','author','year'])
df

AttributeError: 'sqlite3.Connection' object has no attribute 'fetchall'